[ req ]
default_keyfile        =
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no

[ req_distinguished_name ]
commonName               = {{ptmc}}

[ req_attributes ]
basicConstraints         = critical, CA:true, pathlen:0
2.23.148.1.1             = critical, ASN1:FORMAT:HEX, OCT:00000000